
.credit-add {
    .form {
        max-width: 250px ;
        margin: 0px auto ;
        text-align: center ;
        
        label {
            margin-bottom: 15px ;
            color: gray ;
        }
    }
} 