
.product-create,
.product-update {
    
    #product-active {
        label {
            margin-right: 15px ;
        }
    }
    #days-production {
        margin-top: 30px ;
        
        h2 {
            font-size: 20px ;
        }
        label {
            font-weight: normal ;
        }
    }
}

    