
.product-index {
    .td-photo {
        max-width: 100px ;
        width: 100px ;
    }
    .photo-product {
        max-width: 100px ;
    }
    
    .ui-state-highlight { 
        height: 75px; 
        background-color: $color2 ;
    }  
}