
.subscription-form {
    .field-subscriptionform-id {
        display: none; 
    }
    table#products {
        .input-quantity {
            text-align: center ;
            border-right: 0px none ;
        }
        .input-group-addon {
            padding: 5px ;
            padding-left: 0px ;
            margin: 0px ;
            border-left: 0px none ;
            border-right: 0px none ;
        }
        .select-unit {
            padding: 0px;
            width: 58px;
            text-align: center;
            height: 22px;
        }
        .glyphicon-warning-sign {
            position: relative;
            top: 10px ;
        }
    }
}