
.subscription-create, 
.subscription-update {
    .subscription-form {
        
        display: none ;
        
        &.loaded {
            display: block ;
        }
        
        .points-sale {
            .locality {
                color: gray ;
            }
            label {
                cursor: pointer ;
            }
        }
        
        .days {
            .form-group {
                float: left ;
                margin-right: 15px ;
            }
        }
        
        .points-sale {
            table {
                tr.selected {
                    td {
                        background-color: $color2 ;
                    }
                }
                
                .the-name {
                    font-family: 'capsuularegular' ;
                    font-size: 20px ;
                    color: black ;
                }
                
                .block-code {
                    width: 150px ;
                }
                
                .actions {
                    width: 150px ;
                    
                    button {
                        width: 100% ;
                        display: block ;
                    }
                }
            }
        }
        
        .comment-textarea {
            width: 100% ;
            height: 100px ;
        }
        
        .products {
            .monday, .tuesday, .wednesday, .thursday, 
            .friday, .saturday, .sunday, .no-day {
                display: none ;
            }
            
            .monday-active .monday,
            .tuesday-active .tuesday,
            .wednesday-active .wednesday,
            .thursday-active .thursday,
            .friday-active .friday,
            .saturday-active .saturday,
            .sunday-active .sunday {
                display: block ;
            }
            
            td.quantity {
                width: 180px ;
                
                input {
                    text-align: center ;
                    border-right: 0px none ;
                    &.has-quantity {
                        font-weight: bold ;
                    }
                }
                
                .input-group-addon {
                    background-color: white ;
                    padding-left: 0px ;
                    border-left: 0px none ;
                }
            }
            
            .name  {
                font-family: "capsuularegular" ;
                font-size: 20px ;
                color: black ;
            }

            .description {
                font-style: italic;
            }	

            .recipe {
                font-size: 12px ;
            }
            
            .price-unit, .price-total {
                text-align: center ;
                width: 150px ;
            }
            
            .unit {
                color: gray ;
                font-size: 13px ;
            }
            
            tr.total .price-total {
                text-align: center ;
                font-size: 20px ;
            }
        }
    }
}
