
body.skin-black {
    .main-header {
        .logo {
            background-color: white ;
            &:hover {
                background-color: white ;
            }
            .logo-lg {
                img {
                    width: 30px ;
                    height: 30px ;
                }
            }
            .logo-mini {
                img {
                    width: 30px ;
                    height: 30px ;
                }
            }
        }
        .navbar {
            background-color: white ;
            .sidebar-toggle {
                color: #333 ;
            }
            
            .navbar-custom-menu .navbar-nav > li > a,
            .navbar-right > li > a {
                border-left: solid 1px #e0e0e0 ;
                color: #333 ;
            }
            
            .nav > li > a:hover, .nav > li > a:active, .nav > li > a:focus, 
            .nav .open > a, .nav .open > a:hover, .nav .open > a:focus, 
            .nav > .active > a {
                color: #FF7F00 ;
            }
            
            .dropdown-menu {
                @include box-shadow(0px 0px 4px gray) ;
            }
        }
        
        .logo, .navbar .sidebar-toggle {
            border-right: solid 1px #e0e0e0 ;
        }
        
        .link-control-sidebar {
            display: none ;
        }
        
        .notifications-menu {
            ul.menu {
                max-height: 300px ;
                li {
                    a {
                        padding-top: 4px ;
                        padding-bottom: 4px ;
                        
                        h5 {
                            margin-bottom: 2px ;
                            
                            small {
                                float: right ;
                            }
                        }
                        
                        p {
                            margin-left: 10px ;
                        }
                    }
                    
                }
            }
        }
        
        .navbar .nav li.producer-menu {
            .label {
                position: relative ;
                top: -2px ;
                left: 0px ;
            }   
        }
    }

    .sidebar-menu > li.active > a {
        border-color: $color1 ;
    }
    
    .content-wrapper {
        background-color: #f5f5f5 ;
        
        .content-header {
            background-color: #F5F5F5 ;
            padding-bottom: 15px ;
            border-bottom: solid 1px #e0e0e0 ;
            border-top: solid 1px #e0e0e0 ; 
            
            .btn {
                padding: 3px 6px;
                font-size: 10px;
                font-family: Arial;
                text-transform: uppercase;
            }
            
            h1 {
                font-family: 'highvoltageregular' ;
            }
        }
        
        
        
        a {
            color: $color1 ;
        }
        
        .btn {
            color: white ;
        }
        
        .btn-default {
            color: #333 ;
            background-color: white ;
        }
        
        .btn-primary {
            background-color: $color1 ;
            color: white ;
            border-color: $color1 ;
        }
        
        .alert {
            a {
                color: white ;
            }
            a.btn {
                color: #333 ;
                text-decoration: none ;
            }
        }
        
        .callout {
            h4 .fa {
                margin-right: 7px ;
            }
            a {
                color: white ;
            }   
            .btn {
                color: #333 ;
                text-decoration: none ;
            }
        }
        
        .table {
            th {
                font-size: 13px ;
            }
            th.column-actions, td.column-actions {
                width: 150px ;
                text-align: right ;
            }
            td.text-small, th.text-small {
                font-size: 12px ;
            }
        }
        
        .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
            background-color: $color1 ;
            border: solid 1px $color1 ;
            color: white ;
        }
        .pagination > li > a, .pagination > li > span {
            color: $color1 ;
            &:hover {
                color: darken($color1, 10) ;
            }
        }
        
        .submenu {
            margin-bottom: 25px ;
        }
    }
    
    .main-footer {
        a {
            color: $color1 ;
        }
    }
}

body.login-page {
    background: none ;
    background-color: $color2 ;
    .login-box {
        .login-logo {
            text-align: center ;
            font-family: 'comfortaalight' ;
            img {
                width: 50px ;
            }
        }
        .login-box-body {
            .btn-primary {
                background-color: $color1 ;
                border-color: $color1 ;
                padding: 5px 10px ;

                &:active {
                    background-color: lighten($color1, 5) ;
                    border-color: $color1 ;
                }
            }

            a {
                color: $color1 ;
                &:hover {
                    color: lighten($color1, 5) ;
                }
            }
        }
    }
}
