
.order-confirm #main {
    #order-success {
        .alert.alert-success {
            .glyphicon-big {
                background-color: #00A65A ;
            }
        }

        .alert.alert-info {
            .glyphicon-big {
                background-color: #0097BC ;
                padding: 55px 30px ;
            }
            
            .content {
                .glyphicon {
                    margin-right: 5px ;
                }
            }
        }

        .alert-order-summary {
            ul {
                li {
                    margin-bottom: 10px ;
                }
            }
        }

        .alert {
            padding: 0px ;

            strong {
                font-weight: bold ;
            }

            .glyphicon-big {
                font-size: 90px ;
                color: white ;
                padding: 30px ;
                float: left ;
            }

            div.content {
                color: #333 ;
                padding: 20px ;
                margin-left: 151px ;

                h3 {
                    font-family: 'capsuularegular' ;
                    font-size: 30px ;
                    color: #333 ;
                    margin-bottom: 20px ;
                    margin-top: 0px ;
                    margin-left: 0px ;
                    text-align: left ;
                    padding-left: 0px ;
                    line-height: 35px ;
                    text-transform: none ;
                }

                .locality {
                    color: gray ;
                }
            }
        }
    }
    
}