@charset "UTF-8";
/** 
Copyright distrib (2018) 

contact@opendistrib.net

Ce logiciel est un programme informatique servant à aider les producteurs 
à distribuer leur production en circuits courts. 

Ce logiciel est régi par la licence CeCILL soumise au droit français et
respectant les principes de diffusion des logiciels libres. Vous pouvez
utiliser, modifier et/ou redistribuer ce programme sous les conditions
de la licence CeCILL telle que diffusée par le CEA, le CNRS et l'INRIA 
sur le site "http://www.cecill.info".

En contrepartie de l'accessibilité au code source et des droits de copie,
de modification et de redistribution accordés par cette licence, il n'est
offert aux utilisateurs qu'une garantie limitée.  Pour les mêmes raisons,
seule une responsabilité restreinte pèse sur l'auteur du programme,  le
titulaire des droits patrimoniaux et les concédants successifs.

A cet égard  l'attention de l'utilisateur est attirée sur les risques
associés au chargement,  à l'utilisation,  à la modification et/ou au
développement et à la reproduction du logiciel par l'utilisateur étant 
donné sa spécificité de logiciel libre, qui peut le rendre complexe à 
manipuler et qui le réserve donc à des développeurs et des professionnels
avertis possédant  des  connaissances  informatiques approfondies.  Les
utilisateurs sont donc invités à charger  et  tester  l'adéquation  du
logiciel à leurs besoins dans des conditions permettant d'assurer la
sécurité de leurs systèmes et ou de leurs données et, plus généralement, 
à l'utiliser et l'exploiter dans les mêmes conditions de sécurité. 

Le fait que vous puissiez accéder à cet en-tête signifie que vous avez 
pris connaissance de la licence CeCILL, et que vous en avez accepté les
termes.
*/
/** 
Copyright distrib (2018) 

contact@opendistrib.net

Ce logiciel est un programme informatique servant à aider les producteurs 
à distribuer leur production en circuits courts. 

Ce logiciel est régi par la licence CeCILL soumise au droit français et
respectant les principes de diffusion des logiciels libres. Vous pouvez
utiliser, modifier et/ou redistribuer ce programme sous les conditions
de la licence CeCILL telle que diffusée par le CEA, le CNRS et l'INRIA 
sur le site "http://www.cecill.info".

En contrepartie de l'accessibilité au code source et des droits de copie,
de modification et de redistribution accordés par cette licence, il n'est
offert aux utilisateurs qu'une garantie limitée.  Pour les mêmes raisons,
seule une responsabilité restreinte pèse sur l'auteur du programme,  le
titulaire des droits patrimoniaux et les concédants successifs.

A cet égard  l'attention de l'utilisateur est attirée sur les risques
associés au chargement,  à l'utilisation,  à la modification et/ou au
développement et à la reproduction du logiciel par l'utilisateur étant 
donné sa spécificité de logiciel libre, qui peut le rendre complexe à 
manipuler et qui le réserve donc à des développeurs et des professionnels
avertis possédant  des  connaissances  informatiques approfondies.  Les
utilisateurs sont donc invités à charger  et  tester  l'adéquation  du
logiciel à leurs besoins dans des conditions permettant d'assurer la
sécurité de leurs systèmes et ou de leurs données et, plus généralement, 
à l'utiliser et l'exploiter dans les mêmes conditions de sécurité. 

Le fait que vous puissiez accéder à cet en-tête signifie que vous avez 
pris connaissance de la licence CeCILL, et que vous en avez accepté les
termes.
*/
@font-face {
  font-family: 'comfortaabold';
  src: url("../fonts/comfortaa-bold-webfont.eot");
  src: url("../fonts/comfortaa-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/comfortaa-bold-webfont.woff2") format("woff2"), url("../fonts/comfortaa-bold-webfont.woff") format("woff"), url("../fonts/comfortaa-bold-webfont.ttf") format("truetype"), url("../fonts/comfortaa-bold-webfont.svg#comfortaabold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'comfortaalight';
  src: url("../fonts/comfortaa-light-webfont.eot");
  src: url("../fonts/comfortaa-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/comfortaa-light-webfont.woff2") format("woff2"), url("../fonts/comfortaa-light-webfont.woff") format("woff"), url("../fonts/comfortaa-light-webfont.ttf") format("truetype"), url("../fonts/comfortaa-light-webfont.svg#comfortaalight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'comfortaaregular';
  src: url("../fonts/comfortaa-regular-webfont.eot");
  src: url("../fonts/comfortaa-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/comfortaa-regular-webfont.woff2") format("woff2"), url("../fonts/comfortaa-regular-webfont.woff") format("woff"), url("../fonts/comfortaa-regular-webfont.ttf") format("truetype"), url("../fonts/comfortaa-regular-webfont.svg#comfortaaregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'myriadpro-it';
  src: url("../fonts/myriadpro-it.eot");
  src: url("../fonts/myriadpro-it.eot?#iefix") format("embedded-opentype"), url("../fonts/myriadpro-it.woff") format("woff"), url("../fonts/myriadpro-it.ttf") format("truetype"), url("../fonts/myriadpro-it.svg#myriadpro-it") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'myriadpro-light';
  src: url("../fonts/myriadpro-light.eot");
  src: url("../fonts/myriadpro-light.eot?#iefix") format("embedded-opentype"), url("../fonts/myriadpro-light.woff") format("woff"), url("../fonts/myriadpro-light.ttf") format("truetype"), url("../fonts/myriadpro-light.svg#myriadpro-light") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'myriadpro-regular';
  src: url("../fonts/myriadpro-regular.eot");
  src: url("../fonts/myriadpro-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/myriadpro-regular.woff") format("woff"), url("../fonts/myriadpro-regular.ttf") format("truetype"), url("../fonts/myriadpro-regular.svg#myriadpro-regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'myriadpro-semibold';
  src: url("../fonts/myriadpro-semibold.eot");
  src: url("../fonts/myriadpro-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/myriadpro-semibold.woff") format("woff"), url("../fonts/myriadpro-semibold.ttf") format("truetype"), url("../fonts/myriadpro-semibold.svg#myriadpro-semibold") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 45, ../sass/screen.scss */
.clr {
  clear: both;
}

/* line 49, ../sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "myriadpro-light";
}

/* line 53, ../sass/screen.scss */
a {
  color: #FF7F00;
}
/* line 56, ../sass/screen.scss */
a:hover, a:focus, a:active {
  color: #cc6600;
}

/* line 61, ../sass/screen.scss */
#block-demo {
  padding: 10px 0px;
  background-color: white;
  color: #FF7F00;
  text-align: left;
  margin-bottom: 20px;
  border: solid 1px #ff9933;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 70, ../sass/screen.scss */
#block-demo a {
  text-decoration: underline;
}

/* line 75, ../sass/screen.scss */
#env-dev {
  font-family: "comfortaabold";
  text-align: center;
  font-size: 18px;
  padding: 5px 10px;
  color: white;
  position: fixed;
  top: 9px;
  left: 66px;
  z-index: 1031;
}

/* line 88, ../sass/screen.scss */
.wrap .btn-primary {
  background: none;
  background-color: #FF7F00;
  border: solid 1px #FF7F00;
}
/* line 93, ../sass/screen.scss */
.wrap .btn-primary:hover, .wrap .btn-primary:focus, .wrap .btn-primary:active {
  background-color: #cc6600;
  border: solid 1px #cc6600;
}

/* line 101, ../sass/screen.scss */
.nav-header .retour-site {
  border-left: solid 1px white;
  padding: 10px 15px;
}

/* line 108, ../sass/screen.scss */
.navbar-brand .logo {
  height: 40px;
  position: relative;
  top: -10px;
}

/* line 115, ../sass/screen.scss */
.container-body {
  padding-top: 117px;
  padding-bottom: 50px;
}

/* line 120, ../sass/screen.scss */
.navbar-inverse {
  background: none;
  background-color: #FF7F00;
  border-bottom: 0px none;
}
/* line 125, ../sass/screen.scss */
.navbar-inverse .navbar-nav {
  padding-top: 12px;
}
/* line 129, ../sass/screen.scss */
.navbar-inverse .navbar-nav > li > a {
  color: white;
  margin-left: 3px;
  padding: 3px 11px;
}
/* line 134, ../sass/screen.scss */
.navbar-inverse .navbar-nav > li > a:hover {
  color: white;
}
/* line 142, ../sass/screen.scss */
.navbar-inverse .navbar-nav > li.active a,
.navbar-inverse .navbar-nav > .open a {
  background: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  margin-left: 3px;
  background-color: white;
  color: #FF7F00;
  padding: 3px 11px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 152, ../sass/screen.scss */
.navbar-inverse .navbar-nav > li.active a:hover, .navbar-inverse .navbar-nav > li.active a:focus,
.navbar-inverse .navbar-nav > .open a:hover,
.navbar-inverse .navbar-nav > .open a:focus {
  background-color: white;
  color: #FF7F00;
}
/* line 161, ../sass/screen.scss */
.navbar-inverse .navbar-nav > .open a.dropdown-toggle {
  -moz-border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px;
  border-radius: 5px 5px 0px 0px;
}
/* line 165, ../sass/screen.scss */
.navbar-inverse .navbar-nav > .open ul.dropdown-menu {
  -moz-box-shadow: 0px 0px 5px gray;
  -webkit-box-shadow: 0px 0px 5px gray;
  box-shadow: 0px 0px 5px gray;
  -moz-border-radius: 5px 0px 5px 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px 0px 5px 5px;
  border-top: 0px none;
  right: -1px;
}
/* line 171, ../sass/screen.scss */
.navbar-inverse .navbar-nav > .open ul.dropdown-menu li a {
  background-color: transparent;
}
/* line 174, ../sass/screen.scss */
.navbar-inverse .navbar-nav > .open ul.dropdown-menu li a:hover {
  color: #cc6600;
}

/* line 190, ../sass/screen.scss */
#alerts-fixed {
  position: fixed;
  bottom: 20px;
  left: 20px;
}
/* line 195, ../sass/screen.scss */
#alerts-fixed .alert {
  margin-top: 20px;
}

/* line 200, ../sass/screen.scss */
.name-producer {
  margin-bottom: 15px;
  text-align: left;
  position: fixed;
  top: 51px;
  left: 0px;
  width: 100%;
  background-color: #515151;
  background-color: white;
  color: #b35900;
  z-index: 100;
  font-size: 20px;
  padding: 8px 15px;
  padding-bottom: 2px;
  padding-top: 5px;
  border-bottom: solid 1px #e0e0e0;
  -moz-box-shadow: 0px 0px 5px gray;
  -webkit-box-shadow: 0px 0px 5px gray;
  box-shadow: 0px 0px 5px gray;
}
/* line 219, ../sass/screen.scss */
.name-producer #select-producer {
  float: left;
  font-size: 15px;
}
/* line 224, ../sass/screen.scss */
.name-producer .label {
  font-size: 11px;
  margin-left: 10px;
  position: relative;
  bottom: 3px;
}
/* line 229, ../sass/screen.scss */
.name-producer .label a {
  color: white;
}
/* line 231, ../sass/screen.scss */
.name-producer .label a:hover {
  text-decoration: none;
}

/* line 241, ../sass/screen.scss */
.table thead th.actions {
  width: 220px;
}
/* line 244, ../sass/screen.scss */
.table thead th.order {
  width: 58px;
}
/* line 247, ../sass/screen.scss */
.table thead th.actif {
  width: 75px;
  text-align: center;
}
/* line 253, ../sass/screen.scss */
.table tbody td.center {
  text-align: center;
}

/* line 261, ../sass/screen.scss */
.footer .pull-left a {
  margin-right: 5px;
  margin-left: 5px;
  color: gray;
}
/* line 269, ../sass/screen.scss */
.footer #code-source img {
  height: 20px;
}

/* line 275, ../sass/screen.scss */
a.btn, button.btn {
  position: relative;
}
/* line 278, ../sass/screen.scss */
a.btn .glyphicon-triangle-bottom, button.btn .glyphicon-triangle-bottom {
  display: none;
  position: absolute;
  top: 26px;
  left: 50%;
  margin-left: -10px;
  font-size: 20px;
  color: #FF7F00;
}
/* line 289, ../sass/screen.scss */
a.btn.btn-primary .glyphicon-triangle-bottom, button.btn.btn-primary .glyphicon-triangle-bottom {
  display: block;
}

/* line 296, ../sass/screen.scss */
.app-vuejs #loading {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background-color: white;
  z-index: 10;
  -moz-box-shadow: 0px 0px 5px #d0d0d0;
  -webkit-box-shadow: 0px 0px 5px #d0d0d0;
  box-shadow: 0px 0px 5px #d0d0d0;
}
/* line 307, ../sass/screen.scss */
.app-vuejs #loading img {
  position: relative;
  top: 35px;
  left: 35px;
  width: 30px;
  height: 30px;
}

/* line 317, ../sass/screen.scss */
#nav-params {
  margin-bottom: 30px;
}
/* line 320, ../sass/screen.scss */
#nav-params button {
  margin-right: 10px;
}

/* line 328, ../sass/screen.scss */
.panel .panel-heading .panel-title .btn {
  float: right;
}

/* modals */
/* line 337, ../sass/screen.scss */
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity .3s ease;
}

/* line 349, ../sass/screen.scss */
.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

/* line 354, ../sass/screen.scss */
.modal-container {
  width: 70%;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

/* line 365, ../sass/screen.scss */
.modal-header {
  padding-bottom: 0px;
}
/* line 367, ../sass/screen.scss */
.modal-header h3 {
  margin-top: 0;
  color: #333;
  text-transform: uppercase;
  margin-bottom: 0px;
}

/* line 375, ../sass/screen.scss */
.modal-body {
  margin: 20px 0;
  max-height: 300px;
  height: 300px;
  overflow-y: scroll;
}

/* line 382, ../sass/screen.scss */
.modal-default-button {
  float: right;
}

/*
* The following styles are auto-applied to elements with
* transition="modal" when their visibility is toggled
* by Vue.js.
*
* You can easily play with the modal transition by editing
* these styles.
*/
/* line 395, ../sass/screen.scss */
.modal-enter {
  opacity: 0;
}

/* line 399, ../sass/screen.scss */
.modal-leave-active {
  opacity: 0;
}

/* line 403, ../sass/screen.scss */
.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* line 414, ../sass/screen.scss */
.site-index #last-orders tr.order-update td, .site-index #history-orders tr.order-update td, .user-commandes #last-orders tr.order-update td, .user-commandes #history-orders tr.order-update td {
  background-color: white;
}
/* line 417, ../sass/screen.scss */
.site-index #last-orders tr.order-update .update, .site-index #history-orders tr.order-update .update, .user-commandes #last-orders tr.order-update .update, .user-commandes #history-orders tr.order-update .update {
  color: #FF7F00;
}
/* line 423, ../sass/screen.scss */
.site-index #last-orders tr.order-delete td, .site-index #history-orders tr.order-delete td, .user-commandes #last-orders tr.order-delete td, .user-commandes #history-orders tr.order-delete td {
  background-color: #f4cecd;
}
/* line 426, ../sass/screen.scss */
.site-index #last-orders tr.order-delete .delete, .site-index #history-orders tr.order-delete .delete, .user-commandes #last-orders tr.order-delete .delete, .user-commandes #history-orders tr.order-delete .delete {
  color: #C9302C;
}
/* line 431, ../sass/screen.scss */
.site-index #last-orders td.history, .site-index #history-orders td.history, .user-commandes #last-orders td.history, .user-commandes #history-orders td.history {
  min-width: 170px;
}
/* line 433, ../sass/screen.scss */
.site-index #last-orders td.history .small, .site-index #history-orders td.history .small, .user-commandes #last-orders td.history .small, .user-commandes #history-orders td.history .small {
  margin-bottom: 7px;
}
/* line 441, ../sass/screen.scss */
.site-index #last-orders .small, .site-index #last-orders .locality, .site-index #history-orders .small, .site-index #history-orders .locality, .user-commandes #last-orders .small, .user-commandes #last-orders .locality, .user-commandes #history-orders .small, .user-commandes #history-orders .locality {
  font-size: 12px;
  color: gray;
}
/* line 445, ../sass/screen.scss */
.site-index #last-orders .comment, .site-index #history-orders .comment, .user-commandes #last-orders .comment, .user-commandes #history-orders .comment {
  font-size: 12px;
}
/* line 449, ../sass/screen.scss */
.site-index #last-orders .date, .site-index #history-orders .date, .user-commandes #last-orders .date, .user-commandes #history-orders .date {
  text-align: center;
}
/* line 453, ../sass/screen.scss */
.site-index #last-orders .comment, .site-index #history-orders .comment, .user-commandes #last-orders .comment, .user-commandes #history-orders .comment {
  position: relative;
  margin-top: 4px;
  padding-left: 20px;
  font-style: italic;
}
/* line 459, ../sass/screen.scss */
.site-index #last-orders .comment .glyphicon, .site-index #history-orders .comment .glyphicon, .user-commandes #last-orders .comment .glyphicon, .user-commandes #history-orders .comment .glyphicon {
  position: absolute;
  left: 0px;
}

/* line 471, ../sass/screen.scss */
.site-index .panel .panel-title .btn {
  float: right;
  font-family: "myriadpro-regular";
}
/* line 475, ../sass/screen.scss */
.site-index .panel .panel-title .btn.margin-left {
  margin-left: 5px;
}
/* line 486, ../sass/screen.scss */
.site-index #billing h2 {
  font-size: 25px;
  text-align: center;
}
/* line 492, ../sass/screen.scss */
.site-index #billing .current-month .amount span {
  background-color: white;
  color: #333;
  border: solid 1px gray;
}
/* line 499, ../sass/screen.scss */
.site-index #billing .amount {
  margin-top: 35px;
  text-align: center;
}
/* line 502, ../sass/screen.scss */
.site-index #billing .amount span {
  font-size: 22px;
  color: white;
  background-color: #FF7F00;
  padding: 7px 10px 3px;
  font-family: "myriadpro-regular";
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 522, ../sass/screen.scss */
#page-order h1 .btn-group {
  float: right;
}
/* line 527, ../sass/screen.scss */
#page-order #col-left, #page-order #col-right {
  padding-left: 0px;
  padding-right: 0px;
}
/* line 531, ../sass/screen.scss */
#page-order #col-right {
  padding-left: 20px;
}
/* line 535, ../sass/screen.scss */
#page-order #jours-production {
  display: none;
}
/* line 540, ../sass/screen.scss */
#page-order #calendar h2 {
  font-size: 20px;
  position: relative;
  top: 3px;
}
/* line 546, ../sass/screen.scss */
#page-order #calendar .fc-header-title {
  margin-left: 10px;
}
/* line 552, ../sass/screen.scss */
#page-order #calendar .dayWithEvent {
  background-color: #fee48d;
  cursor: pointer;
}
/* line 556, ../sass/screen.scss */
#page-order #calendar .fc-event-container {
  display: none;
}
/* line 557, ../sass/screen.scss */
#page-order #calendar .fc-today {
  border-bottom: solid 1px #C9302C;
  background-color: white;
}
/* line 561, ../sass/screen.scss */
#page-order #calendar .fc-today.dayWithEvent {
  background-color: #fee48d;
}
/* line 566, ../sass/screen.scss */
#page-order #calendar .fc-day {
  cursor: pointer;
  text-align: center;
}
/* line 569, ../sass/screen.scss */
#page-order #calendar .fc-day:hover {
  -moz-box-shadow: 0px 0px 2px black inset;
  -webkit-box-shadow: 0px 0px 2px black inset;
  box-shadow: 0px 0px 2px black inset;
}
/* line 574, ../sass/screen.scss */
#page-order #calendar .current-date {
  -moz-box-shadow: 0px 0px 2px black inset;
  -webkit-box-shadow: 0px 0px 2px black inset;
  box-shadow: 0px 0px 2px black inset;
}
/* line 578, ../sass/screen.scss */
#page-order #calendar .fc-day-number {
  float: none;
  padding-top: 2px;
}
/* line 584, ../sass/screen.scss */
#page-order .btn-active-week {
  display: block;
  margin-top: 10px;
}
/* line 591, ../sass/screen.scss */
#page-order #bloc-production .label {
  float: right;
  font-size: 13px;
}
/* line 596, ../sass/screen.scss */
#page-order #bloc-production #productions-point-vente {
  margin-top: 15px;
  padding: 10px;
  border: solid 1px #e0e0e0;
  background-color: #F5F5F5;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 602, ../sass/screen.scss */
#page-order #bloc-production #productions-point-vente label {
  display: block;
  font-weight: normal;
}
/* line 607, ../sass/screen.scss */
#page-order #bloc-production #productions-point-vente .checkbox-list {
  margin-left: 10px;
  margin-top: 10px;
}
/* line 618, ../sass/screen.scss */
#page-order #produits-production .overflow table {
  width: 100%;
}
/* line 622, ../sass/screen.scss */
#page-order #produits-production .overflow thead, #page-order #produits-production .overflow tbody, #page-order #produits-production .overflow tr, #page-order #produits-production .overflow td, #page-order #produits-production .overflow th {
  display: block;
}
/* line 624, ../sass/screen.scss */
#page-order #produits-production .overflow tr:after {
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both;
}
/* line 631, ../sass/screen.scss */
#page-order #produits-production .overflow thead th {
  height: 30px;
}
/* line 636, ../sass/screen.scss */
#page-order #produits-production .overflow tbody {
  height: 500px;
  overflow-y: auto;
}
/* line 644, ../sass/screen.scss */
#page-order #produits-production .overflow thead th {
  width: 32%;
  float: left;
}
/* line 649, ../sass/screen.scss */
#page-order #produits-production .overflow tbody td {
  width: 33%;
  float: left;
}
/* line 654, ../sass/screen.scss */
#page-order #produits-production .overflow .td-produit {
  width: 60%;
}
/* line 657, ../sass/screen.scss */
#page-order #produits-production .overflow .td-active, #page-order #produits-production .overflow .td-max {
  width: 20%;
  text-align: center;
}
/* line 663, ../sass/screen.scss */
#page-order #produits-production .overflow thead .td-product {
  width: 57%;
}
/* line 669, ../sass/screen.scss */
#page-order #produits-production input.quantity-max {
  background-color: white;
  border: 1px solid #e0e0e0;
  text-align: center;
  width: 50px;
}
/* line 677, ../sass/screen.scss */
#page-order #produits-production td label {
  font-weight: normal;
}
/* line 683, ../sass/screen.scss */
#page-order #btn-export-commandes,
#page-order #btn-commandes-auto {
  float: right;
  position: relative;
  top: -5px;
  right: -7px;
  padding: 2px 5px;
}
/* line 692, ../sass/screen.scss */
#page-order #btn-export-commandes,
#page-order #btn-commandes-auto {
  color: white;
  margin-left: 10px;
  padding: 1px 5px;
}
/* line 699, ../sass/screen.scss */
#page-order #btn-commandes-auto {
  top: -7px;
}
/* line 701, ../sass/screen.scss */
#page-order #btn-commandes-auto .btn {
  padding: 2px 5px;
}
/* line 703, ../sass/screen.scss */
#page-order #btn-commandes-auto .btn span {
  top: 2px;
}
/* line 711, ../sass/screen.scss */
#page-order #bloc-totaux .table-products .depasse {
  color: #b32815;
}
/* line 715, ../sass/screen.scss */
#page-order #bloc-totaux .table-products .total strong span {
  font-weight: normal;
  font-size: 13px;
}
/* line 724, ../sass/screen.scss */
#page-order #commandes-points-vente .tab-pane {
  padding-top: 20px;
}
/* line 731, ../sass/screen.scss */
#page-order #commandes-points-vente .recap-pv.no-commande .recettes {
  display: none;
}
/* line 736, ../sass/screen.scss */
#page-order #commandes-points-vente .recap-pv .recettes {
  float: right;
  color: #FF7F00;
  border: solid 1px #FF7F00;
  padding: 4px 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  font-weight: bold;
  position: relative;
  top: -3px;
}
/* line 748, ../sass/screen.scss */
#page-order #commandes-points-vente .alert.comment {
  display: none;
}
/* line 752, ../sass/screen.scss */
#page-order #commandes-points-vente ul.liste-commandes {
  margin-top: 10px;
  list-style-type: none;
  height: 100%;
  max-height: 400px;
  margin-left: 0;
  padding-left: 0;
  margin-top: 0px;
  width: 100%;
  overflow-y: scroll;
}
/* line 763, ../sass/screen.scss */
#page-order #commandes-points-vente ul.liste-commandes.no-commande {
  display: none;
}
/* line 767, ../sass/screen.scss */
#page-order #commandes-points-vente ul.liste-commandes li {
  padding: 0;
  margin: 0;
}
/* line 770, ../sass/screen.scss */
#page-order #commandes-points-vente ul.liste-commandes li a {
  text-align: left;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  display: block;
  padding: 7px;
  color: #333;
}
/* line 777, ../sass/screen.scss */
#page-order #commandes-points-vente ul.liste-commandes li a .montant {
  float: right;
  color: #FF7F00;
  font-weight: bold;
}
/* line 782, ../sass/screen.scss */
#page-order #commandes-points-vente ul.liste-commandes li a .montant.paye {
  color: #5cb85c;
  color: #519951;
}
/* line 788, ../sass/screen.scss */
#page-order #commandes-points-vente ul.liste-commandes li a .glyphicon-comment {
  color: #FF7F00;
}
/* line 792, ../sass/screen.scss */
#page-order #commandes-points-vente ul.liste-commandes li a:hover, #page-order #commandes-points-vente ul.liste-commandes li a:active, #page-order #commandes-points-vente ul.liste-commandes li a.active {
  text-decoration: none;
  background-color: #FCF8E3;
  outline: none;
  border-color: #ccc;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
/* line 803, ../sass/screen.scss */
#page-order #commandes-points-vente .creer-commande,
#page-order #commandes-points-vente .commandes-auto {
  width: 100%;
  margin-bottom: 10px;
}
/* line 809, ../sass/screen.scss */
#page-order #commandes-points-vente .bloc-commande {
  padding-top: 20px;
  margin-top: 20px;
  display: none;
}
/* line 815, ../sass/screen.scss */
#page-order #commandes-points-vente .title-user {
  display: none;
  font-size: 19px;
  margin-top: 0px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* line 821, ../sass/screen.scss */
#page-order #commandes-points-vente .title-user .btn-edit, #page-order #commandes-points-vente .title-user .btn-remove,
#page-order #commandes-points-vente .title-user .btn-cancel, #page-order #commandes-points-vente .title-user .btn-save {
  float: right;
  position: relative;
  top: -6px;
}
/* line 828, ../sass/screen.scss */
#page-order #commandes-points-vente .title-user .btn-edit, #page-order #commandes-points-vente .title-user .btn-cancel {
  margin-right: 10px;
}
/* line 832, ../sass/screen.scss */
#page-order #commandes-points-vente .title-user .buttons-save-cancel {
  display: none;
}
/* line 836, ../sass/screen.scss */
#page-order #commandes-points-vente .title-user .choix-user {
  display: none;
}
/* line 839, ../sass/screen.scss */
#page-order #commandes-points-vente .title-user .choix-user .form-control {
  width: 200px;
  display: inline;
}
/* line 847, ../sass/screen.scss */
#page-order #commandes-points-vente table.table-produits .td-order {
  text-align: center;
}
/* line 850, ../sass/screen.scss */
#page-order #commandes-points-vente table.table-produits input.form-control {
  text-align: center;
}
/* line 855, ../sass/screen.scss */
#page-order #commandes-points-vente table.table-produits tr.disabled .td-product {
  color: gray;
}
/* line 861, ../sass/screen.scss */
#page-order #commandes-points-vente .td-produit,
#page-order #commandes-points-vente .th-produit {
  width: 70%;
}
/* line 866, ../sass/screen.scss */
#page-order #commandes-points-vente .td-commande,
#page-order #commandes-points-vente .th-commande {
  width: 30%;
  text-align: center;
}
/* line 872, ../sass/screen.scss */
#page-order #commandes-points-vente .td-produit {
  text-transform: uppercase;
}
/* line 876, ../sass/screen.scss */
#page-order #commandes-points-vente .td-commande {
  font-weight: bold;
}
/* line 880, ../sass/screen.scss */
#page-order #commandes-points-vente .td-total {
  font-size: 18px;
  text-align: center;
}
/* line 884, ../sass/screen.scss */
#page-order #commandes-points-vente .td-total span {
  padding: 2px 10px;
  background-color: #FF7F00;
  color: white;
  font-weight: bold;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
/* line 894, ../sass/screen.scss */
#page-order #commandes-points-vente .td-paiement .buttons-credit {
  float: right;
}
/* line 900, ../sass/screen.scss */
#page-order #commandes-points-vente .panel-commande-auto .field-subscriptionform-id_user,
#page-order #commandes-points-vente .panel-commande-auto .field-subscriptionform-id_producer {
  display: none;
}
/* line 907, ../sass/screen.scss */
#page-order #commandes-points-vente .panel-commande-auto .days .form-group {
  float: left;
  margin-right: 10px;
}
/* line 916, ../sass/screen.scss */
#page-order #old-commandes {
  display: none;
}
/* line 920, ../sass/screen.scss */
#page-order .form-commandes-point-vente {
  margin-top: 20px;
}
/* line 924, ../sass/screen.scss */
#page-order .form-commandes-point-vente table {
  border-bottom: solid 1px #e0e0e0;
}
/* line 928, ../sass/screen.scss */
#page-order .form-commandes-point-vente .title-point-sale {
  background-color: #fff8e2;
  border-left: solid 3px #FF7F00;
  font-weight: bold;
  text-align: left;
  padding: 10px;
}
/* line 936, ../sass/screen.scss */
#page-order .form-commandes-point-vente .title-totals {
  text-align: center;
}
/* line 940, ../sass/screen.scss */
#page-order .form-commandes-point-vente .border-left {
  border-left: solid 1px #e0e0e0;
}
/* line 944, ../sass/screen.scss */
#page-order .form-commandes-point-vente .border-right {
  border-right: solid 1px #e0e0e0;
}
/* line 948, ../sass/screen.scss */
#page-order .form-commandes-point-vente input.quantity {
  width: 30px;
  background-color: white;
  border: solid 1px #e0e0e0;
  text-align: center;
}
/* line 955, ../sass/screen.scss */
#page-order .form-commandes-point-vente .td-product {
  text-align: center;
}
/* line 959, ../sass/screen.scss */
#page-order .form-commandes-point-vente .submit-point-sale {
  float: right;
}
/* line 963, ../sass/screen.scss */
#page-order .form-commandes-point-vente .select-user {
  background-color: #F9F9F9;
  border: solid 1px #e0e0e0;
}
/* line 968, ../sass/screen.scss */
#page-order .form-commandes-point-vente .date-order {
  font-size: 12px;
}
/* line 972, ../sass/screen.scss */
#page-order .form-commandes-point-vente .datepicker, #page-order .form-commandes-point-vente .text {
  background-color: white;
  border: solid 1px #e0e0e0;
  margin-top: 3px;
  width: 100px;
}
/* line 980, ../sass/screen.scss */
#page-order .form-commandes-point-vente td.center {
  text-align: center;
}
/* line 984, ../sass/screen.scss */
#page-order .form-commandes-point-vente .depasse {
  color: #b32815;
}
/* line 988, ../sass/screen.scss */
#page-order .form-commandes-point-vente .total strong span {
  font-weight: normal;
  font-size: 13px;
}
/* line 993, ../sass/screen.scss */
#page-order .form-commandes-point-vente td.user {
  text-align: left;
  padding: 3px;
}
/* line 996, ../sass/screen.scss */
#page-order .form-commandes-point-vente td.user .date-order {
  color: gray;
}
/* line 1003, ../sass/screen.scss */
#page-order .table-header-rotated {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  width: 100%;
  width: auto;
}
/* line 1010, ../sass/screen.scss */
#page-order .table-header-rotated .total strong {
  border-bottom: solid 1px gray;
}
/* line 1015, ../sass/screen.scss */
#page-order .table-header-rotated th.row-header {
  width: auto;
}
/* line 1019, ../sass/screen.scss */
#page-order .table-header-rotated td {
  width: 40px;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  vertical-align: middle;
  text-align: center;
}
/* line 1028, ../sass/screen.scss */
#page-order .table-header-rotated th.rotate-45 {
  font-weight: normal;
  height: 80px;
  width: 40px;
  min-width: 40px;
  max-width: 40px;
  position: relative;
  vertical-align: bottom;
  padding: 0;
  font-size: 14px;
  line-height: 1;
  border: 0px none;
}
/* line 1042, ../sass/screen.scss */
#page-order .table-header-rotated th.rotate-45 > div {
  background-color: #F5F5F5;
  position: relative;
  top: 0px;
  left: 40px;
  /* 80 * tan(45) / 2 = 40 where 80 is the height on the cell and 45 is the transform angle*/
  height: 100%;
  -ms-transform: skew(-45deg, 0deg);
  -moz-transform: skew(-45deg, 0deg);
  -webkit-transform: skew(-45deg, 0deg);
  -o-transform: skew(-45deg, 0deg);
  transform: skew(-45deg, 0deg);
  overflow: hidden;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
}
/* line 1059, ../sass/screen.scss */
#page-order .table-header-rotated th.rotate-45 span {
  -ms-transform: skew(45deg, 0deg) rotate(315deg);
  -moz-transform: skew(45deg, 0deg) rotate(315deg);
  -webkit-transform: skew(45deg, 0deg) rotate(315deg);
  -o-transform: skew(45deg, 0deg) rotate(315deg);
  transform: skew(45deg, 0deg) rotate(315deg);
  position: absolute;
  bottom: 30px;
  /* 40 cos(45) = 28 with an additional 2px margin*/
  left: -25px;
  /*Because it looked good, but there is probably a mathematical link here as well*/
  display: inline-block;
  width: 85px;
  /* 80 / cos(45) - 40 cos (45) = 85 where 80 is the height of the cell, 40 the width of the cell and 45 the transform angle*/
  text-align: left;
}
/* line 1075, ../sass/screen.scss */
#page-order .table-header-rotated .disabled {
  color: gray;
}

/* line 1083, ../sass/screen.scss */
.product-create #days-distribution .form-group, .product-update #days-distribution .form-group {
  float: left;
  margin-right: 15px;
}
/* line 1087, ../sass/screen.scss */
.product-create #days-distribution .form-group label, .product-update #days-distribution .form-group label {
  font-weight: normal;
}
/* line 1092, ../sass/screen.scss */
.product-create .field-product-id_producer, .product-update .field-product-id_producer {
  display: none;
}

/* line 1097, ../sass/screen.scss */
.table-striped > tbody > tr:nth-of-type(2n) {
  background-color: white;
}

/* communiquer */
/* line 1106, ../sass/screen.scss */
.communicate-index #email .btn-point-sale {
  margin-bottom: 8px;
  margin-right: 5px;
}

/* line 1113, ../sass/screen.scss */
.communicate-instructions {
  border: solid 1px #e0e0e0;
  padding: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin-bottom: 30px;
  font-family: "Arial";
}
/* line 1122, ../sass/screen.scss */
.communicate-instructions .header .logo {
  display: none;
  float: left;
  width: 75px;
  padding-right: 20px;
  padding-top: 10px;
}
/* line 1129, ../sass/screen.scss */
.communicate-instructions .header .logo img {
  width: 75px;
}
/* line 1135, ../sass/screen.scss */
.communicate-instructions h1, .communicate-instructions h2, .communicate-instructions h3, .communicate-instructions h4 {
  text-align: center;
}
/* line 1139, ../sass/screen.scss */
.communicate-instructions h1 {
  font-family: "highvoltageregular";
  font-size: 40px;
  line-height: 40px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: normal;
}
/* line 1148, ../sass/screen.scss */
.communicate-instructions h2 {
  margin-top: 0px;
  font-family: "capsuularegular";
  font-size: 20px;
  margin-top: 0px;
  position: relative;
  left: 2px;
  font-weight: normal;
}
/* line 1158, ../sass/screen.scss */
.communicate-instructions h3 {
  font-size: 18px;
  color: #FF7F00;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 20px;
  font-family: "capsuularegular";
}
/* line 1167, ../sass/screen.scss */
.communicate-instructions h4 {
  font-size: 16px;
  margin-top: 8px;
  font-weight: normal;
  font-family: "capsuularegular";
}
/* line 1173, ../sass/screen.scss */
.communicate-instructions h4 span {
  border-bottom: dotted 1px black;
}

/* line 1180, ../sass/screen.scss */
.communicate-instructions-inset {
  width: auto;
  margin-top: 20px;
}
/* line 1184, ../sass/screen.scss */
.communicate-instructions-inset .header .logo {
  width: 60px;
  margin-right: 20px;
  padding-top: 5px;
}
/* line 1189, ../sass/screen.scss */
.communicate-instructions-inset .header .logo img {
  width: 60px;
}
/* line 1195, ../sass/screen.scss */
.communicate-instructions-inset .header h1 {
  margin-bottom: 3px;
}
/* line 1201, ../sass/screen.scss */
.communicate-instructions-inset h3 {
  margin-top: 15px;
  margin-bottom: 0px;
  font-size: 18px;
}

/* line 1212, ../sass/screen.scss */
.block-instructions-pdf {
  width: 49.9%;
  float: left;
  border-bottom: dotted 1px gray;
}

/* line 1218, ../sass/screen.scss */
.block-instructions-border {
  border-right: dotted 1px gray;
  border-bottom: dotted 1px gray;
}

/* line 1223, ../sass/screen.scss */
.communicate-instructions-pdf {
  border: 0px none;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  margin-bottom: 0px;
  padding: 20px 0px 20px 30px;
}
/* line 1231, ../sass/screen.scss */
.communicate-instructions-pdf .header .logo {
  float: left;
  width: 55px;
  padding-right: 15px;
  padding-top: 10px;
}
/* line 1237, ../sass/screen.scss */
.communicate-instructions-pdf .header .logo img {
  width: 55px;
}
/* line 1241, ../sass/screen.scss */
.communicate-instructions-pdf .header h1 {
  font-size: 32px;
}
/* line 1244, ../sass/screen.scss */
.communicate-instructions-pdf .header h2 {
  font-size: 16px;
}
/* line 1249, ../sass/screen.scss */
.communicate-instructions-pdf h3 {
  font-weight: normal;
}

/* line 1254, ../sass/screen.scss */
.block-instructions-bottom {
  border-bottom: 0px none;
  border-bottom: solid 1px white;
}

/* abonnements */
/* line 1264, ../sass/screen.scss */
.subscription-form #block-select-user {
  padding-left: 0px;
}
/* line 1268, ../sass/screen.scss */
.subscription-form #or-user {
  font-size: 20px;
  text-align: center;
}
/* line 1271, ../sass/screen.scss */
.subscription-form #or-user span {
  position: relative;
  top: 24px;
}
/* line 1277, ../sass/screen.scss */
.subscription-form .field-subscriptionform-id_producer {
  display: none;
}
/* line 1281, ../sass/screen.scss */
.subscription-form .days .form-group {
  float: left;
  margin-right: 20px;
}
/* line 1288, ../sass/screen.scss */
.subscription-form .products .table {
  width: 500px;
}
/* line 1291, ../sass/screen.scss */
.subscription-form .products .quantity {
  text-align: center;
}

/* points de vente */
/* line 1300, ../sass/screen.scss */
.point-sale-form #pointsale-users {
  display: none;
  height: 500px;
  overflow-y: scroll;
}
/* line 1304, ../sass/screen.scss */
.point-sale-form #pointsale-users label {
  font-weight: normal;
  display: block;
}
/* line 1308, ../sass/screen.scss */
.point-sale-form #pointsale-users .comment {
  display: none;
  margin-left: 17px;
  width: 200px;
}
/* line 1316, ../sass/screen.scss */
.point-sale-form #delivery-days .form-group {
  float: left;
  margin-right: 15px;
}
/* line 1320, ../sass/screen.scss */
.point-sale-form #delivery-days .form-group label {
  font-weight: normal;
}

/* utilisateurs */
/* line 1330, ../sass/screen.scss */
#menu-users #nav-points-sale {
  margin-bottom: 30px;
}
/* line 1334, ../sass/screen.scss */
#menu-users #submenu {
  margin-bottom: 30px;
  text-align: left;
}
/* line 1339, ../sass/screen.scss */
#menu-users a {
  margin-bottom: 15px;
}

/* line 1345, ../sass/screen.scss */
.user-index .input-group {
  width: 180px;
}
/* line 1348, ../sass/screen.scss */
.user-index .input-group .input-credit {
  text-align: center;
}

/* line 1355, ../sass/screen.scss */
.user-credit .the-credit {
  float: right;
  font-weight: bold;
  background-color: #FF7F00;
  color: white;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  padding: 3px 10px;
  padding-top: 7px;
  position: relative;
  top: -12px;
}

/* facturation */
/* line 1370, ../sass/screen.scss */
#free-price {
  padding: 20px;
  background-color: #F9F9F9;
}
/* line 1374, ../sass/screen.scss */
#free-price h2 {
  font-family: "myriadpro-it";
}
/* line 1378, ../sass/screen.scss */
#free-price .amount span {
  font-size: 25px;
  color: white;
  background-color: #FF7F00;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 3px 10px;
  padding-top: 7px;
  font-family: "myriadpro-regular";
}
/* line 1389, ../sass/screen.scss */
#free-price label {
  text-transform: uppercase;
  font-family: "myriadpro-light";
  font-size: 20px;
}
/* line 1394, ../sass/screen.scss */
#free-price label span {
  font-size: 16px;
}
/* line 1400, ../sass/screen.scss */
#free-price .field-producer-free_price .input-group {
  width: 200px;
}
/* line 1406, ../sass/screen.scss */
#free-price .field-user-free_price label {
  display: none;
}
/* line 1411, ../sass/screen.scss */
#free-price #producer-free_price {
  width: 100px;
  height: 60px;
  font-size: 30px;
  padding: 10px;
  text-align: center;
}

/* line 1421, ../sass/screen.scss */
.development-index ul#tabs-status-developments {
  margin-bottom: 30px;
  border-bottom: solid 3px #FF7F00;
}
/* line 1425, ../sass/screen.scss */
.development-index ul#tabs-status-developments a {
  text-transform: uppercase;
}
/* line 1428, ../sass/screen.scss */
.development-index ul#tabs-status-developments .active {
  border: 0px none;
  background: none;
}
/* line 1431, ../sass/screen.scss */
.development-index ul#tabs-status-developments .active a {
  background-color: #FF7F00;
  color: white;
}
/* line 1439, ../sass/screen.scss */
.development-index #tab-developments .btn-group-priority {
  width: 100%;
  margin-bottom: 5px;
}
/* line 1443, ../sass/screen.scss */
.development-index #tab-developments .btn-group-priority .btn-priority {
  display: block;
  float: none;
  width: 100%;
}
/* line 1450, ../sass/screen.scss */
.development-index #tab-developments .label-priority {
  display: block;
  width: 100%;
  margin-bottom: 2px;
  padding: 5px 8px;
}

/* stats */
/* line 1463, ../sass/screen.scss */
.stats-products #nav-year {
  float: right;
}
/* line 1468, ../sass/screen.scss */
.stats-products tr.month th {
  text-align: center;
}
/* line 1473, ../sass/screen.scss */
.stats-products tr.sub-head th {
  font-weight: normal;
  font-size: 12px;
}
/* line 1479, ../sass/screen.scss */
.stats-products td.name {
  text-transform: uppercase;
}
/* line 1483, ../sass/screen.scss */
.stats-products td.align-center {
  text-align: center;
}

/* line 4, ../sass/_adminlte.scss */
body.skin-black .main-header .logo {
  background-color: white;
}
/* line 6, ../sass/_adminlte.scss */
body.skin-black .main-header .logo:hover {
  background-color: white;
}
/* line 10, ../sass/_adminlte.scss */
body.skin-black .main-header .logo .logo-lg img {
  width: 30px;
  height: 30px;
}
/* line 16, ../sass/_adminlte.scss */
body.skin-black .main-header .logo .logo-mini img {
  width: 30px;
  height: 30px;
}
/* line 22, ../sass/_adminlte.scss */
body.skin-black .main-header .navbar {
  background-color: white;
}
/* line 24, ../sass/_adminlte.scss */
body.skin-black .main-header .navbar .sidebar-toggle {
  color: #333;
}
/* line 28, ../sass/_adminlte.scss */
body.skin-black .main-header .navbar .navbar-custom-menu .navbar-nav > li > a,
body.skin-black .main-header .navbar .navbar-right > li > a {
  border-left: solid 1px #e0e0e0;
  color: #333;
}
/* line 34, ../sass/_adminlte.scss */
body.skin-black .main-header .navbar .nav > li > a:hover, body.skin-black .main-header .navbar .nav > li > a:active, body.skin-black .main-header .navbar .nav > li > a:focus,
body.skin-black .main-header .navbar .nav .open > a, body.skin-black .main-header .navbar .nav .open > a:hover, body.skin-black .main-header .navbar .nav .open > a:focus,
body.skin-black .main-header .navbar .nav > .active > a {
  color: #FF7F00;
}
/* line 40, ../sass/_adminlte.scss */
body.skin-black .main-header .navbar .dropdown-menu {
  -moz-box-shadow: 0px 0px 4px gray;
  -webkit-box-shadow: 0px 0px 4px gray;
  box-shadow: 0px 0px 4px gray;
}
/* line 45, ../sass/_adminlte.scss */
body.skin-black .main-header .logo, body.skin-black .main-header .navbar .sidebar-toggle {
  border-right: solid 1px #e0e0e0;
}
/* line 49, ../sass/_adminlte.scss */
body.skin-black .main-header .link-control-sidebar {
  display: none;
}
/* line 54, ../sass/_adminlte.scss */
body.skin-black .main-header .notifications-menu ul.menu {
  max-height: 300px;
}
/* line 57, ../sass/_adminlte.scss */
body.skin-black .main-header .notifications-menu ul.menu li a {
  padding-top: 4px;
  padding-bottom: 4px;
}
/* line 61, ../sass/_adminlte.scss */
body.skin-black .main-header .notifications-menu ul.menu li a h5 {
  margin-bottom: 2px;
}
/* line 64, ../sass/_adminlte.scss */
body.skin-black .main-header .notifications-menu ul.menu li a h5 small {
  float: right;
}
/* line 69, ../sass/_adminlte.scss */
body.skin-black .main-header .notifications-menu ul.menu li a p {
  margin-left: 10px;
}
/* line 79, ../sass/_adminlte.scss */
body.skin-black .main-header .navbar .nav li.producer-menu .label {
  position: relative;
  top: -2px;
  left: 0px;
}
/* line 87, ../sass/_adminlte.scss */
body.skin-black .sidebar-menu > li.active > a {
  border-color: #FF7F00;
}
/* line 91, ../sass/_adminlte.scss */
body.skin-black .content-wrapper {
  background-color: #f5f5f5;
}
/* line 94, ../sass/_adminlte.scss */
body.skin-black .content-wrapper .content-header {
  background-color: #F5F5F5;
  padding-bottom: 15px;
  border-bottom: solid 1px #e0e0e0;
  border-top: solid 1px #e0e0e0;
}
/* line 100, ../sass/_adminlte.scss */
body.skin-black .content-wrapper .content-header .btn {
  padding: 3px 6px;
  font-size: 10px;
  font-family: Arial;
  text-transform: uppercase;
}
/* line 107, ../sass/_adminlte.scss */
body.skin-black .content-wrapper .content-header h1 {
  font-family: "highvoltageregular";
}
/* line 114, ../sass/_adminlte.scss */
body.skin-black .content-wrapper a {
  color: #FF7F00;
}
/* line 118, ../sass/_adminlte.scss */
body.skin-black .content-wrapper .btn {
  color: white;
}
/* line 122, ../sass/_adminlte.scss */
body.skin-black .content-wrapper .btn-default {
  color: #333;
  background-color: white;
}
/* line 127, ../sass/_adminlte.scss */
body.skin-black .content-wrapper .btn-primary {
  background-color: #FF7F00;
  color: white;
  border-color: #FF7F00;
}
/* line 134, ../sass/_adminlte.scss */
body.skin-black .content-wrapper .alert a {
  color: white;
}
/* line 137, ../sass/_adminlte.scss */
body.skin-black .content-wrapper .alert a.btn {
  color: #333;
  text-decoration: none;
}
/* line 144, ../sass/_adminlte.scss */
body.skin-black .content-wrapper .callout h4 .fa {
  margin-right: 7px;
}
/* line 147, ../sass/_adminlte.scss */
body.skin-black .content-wrapper .callout a {
  color: white;
}
/* line 150, ../sass/_adminlte.scss */
body.skin-black .content-wrapper .callout .btn {
  color: #333;
  text-decoration: none;
}
/* line 157, ../sass/_adminlte.scss */
body.skin-black .content-wrapper .table th {
  font-size: 13px;
}
/* line 160, ../sass/_adminlte.scss */
body.skin-black .content-wrapper .table th.column-actions, body.skin-black .content-wrapper .table td.column-actions {
  width: 150px;
  text-align: right;
}
/* line 164, ../sass/_adminlte.scss */
body.skin-black .content-wrapper .table td.text-small, body.skin-black .content-wrapper .table th.text-small {
  font-size: 12px;
}
/* line 169, ../sass/_adminlte.scss */
body.skin-black .content-wrapper .pagination > .active > a, body.skin-black .content-wrapper .pagination > .active > span, body.skin-black .content-wrapper .pagination > .active > a:hover, body.skin-black .content-wrapper .pagination > .active > span:hover, body.skin-black .content-wrapper .pagination > .active > a:focus, body.skin-black .content-wrapper .pagination > .active > span:focus {
  background-color: #FF7F00;
  border: solid 1px #FF7F00;
  color: white;
}
/* line 174, ../sass/_adminlte.scss */
body.skin-black .content-wrapper .pagination > li > a, body.skin-black .content-wrapper .pagination > li > span {
  color: #FF7F00;
}
/* line 176, ../sass/_adminlte.scss */
body.skin-black .content-wrapper .pagination > li > a:hover, body.skin-black .content-wrapper .pagination > li > span:hover {
  color: #cc6600;
}
/* line 181, ../sass/_adminlte.scss */
body.skin-black .content-wrapper .submenu {
  margin-bottom: 25px;
}
/* line 187, ../sass/_adminlte.scss */
body.skin-black .main-footer a {
  color: #FF7F00;
}

/* line 193, ../sass/_adminlte.scss */
body.login-page {
  background: none;
  background-color: white;
}
/* line 197, ../sass/_adminlte.scss */
body.login-page .login-box .login-logo {
  text-align: center;
  font-family: "comfortaalight";
}
/* line 200, ../sass/_adminlte.scss */
body.login-page .login-box .login-logo img {
  width: 50px;
}
/* line 205, ../sass/_adminlte.scss */
body.login-page .login-box .login-box-body .btn-primary {
  background-color: #FF7F00;
  border-color: #FF7F00;
  padding: 5px 10px;
}
/* line 210, ../sass/_adminlte.scss */
body.login-page .login-box .login-box-body .btn-primary:active {
  background-color: #ff8c1a;
  border-color: #FF7F00;
}
/* line 216, ../sass/_adminlte.scss */
body.login-page .login-box .login-box-body a {
  color: #FF7F00;
}
/* line 218, ../sass/_adminlte.scss */
body.login-page .login-box .login-box-body a:hover {
  color: #ff8c1a;
}

/* line 2, ../sass/_alerts.scss */
#app-alerts {
  position: fixed;
  bottom: 30px;
  right: 15px;
  width: 300px;
  height: auto;
}
/* line 9, ../sass/_alerts.scss */
#app-alerts .slide-fade-enter-active {
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 12, ../sass/_alerts.scss */
#app-alerts .slide-fade-leave-active {
  -moz-transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
  -o-transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
  -webkit-transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}
/* line 15, ../sass/_alerts.scss */
#app-alerts .slide-fade-enter, #app-alerts .slide-fade-leave-to {
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -webkit-transform: translateX(10px);
  transform: translateX(10px);
  opacity: 0;
}

/* line 4, ../sass/site/_index.scss */
.site-index #distributions .info-box {
  border: solid 1px #e0e0e0;
}
/* line 6, ../sass/site/_index.scss */
.site-index #distributions .info-box .date {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 20px;
  padding-top: 10px;
}
/* line 12, ../sass/site/_index.scss */
.site-index #distributions .info-box .date span {
  display: block;
}
/* line 18, ../sass/site/_index.scss */
.site-index #distributions .info-box .date .num {
  font-size: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}
/* line 30, ../sass/site/_index.scss */
.site-index #distributions .info-box-content .buttons {
  margin-top: 10px;
}

/* line 4, ../sass/subscription/_index.scss */
.subscription-index .table .column-auto-payment {
  width: 50px;
}

/* line 3, ../sass/subscription/_form.scss */
.subscription-form .field-subscriptionform-id {
  display: none;
}
/* line 7, ../sass/subscription/_form.scss */
.subscription-form table#products .input-quantity {
  text-align: center;
  border-right: 0px none;
}
/* line 11, ../sass/subscription/_form.scss */
.subscription-form table#products .input-group-addon {
  padding: 5px;
  padding-left: 0px;
  margin: 0px;
  border-left: 0px none;
  border-right: 0px none;
}
/* line 18, ../sass/subscription/_form.scss */
.subscription-form table#products .select-unit {
  padding: 0px;
  width: 58px;
  text-align: center;
  height: 22px;
}
/* line 24, ../sass/subscription/_form.scss */
.subscription-form table#products .glyphicon-warning-sign {
  position: relative;
  top: 10px;
}

/* line 3, ../sass/product/_index.scss */
.product-index .td-photo {
  max-width: 100px;
  width: 100px;
}
/* line 7, ../sass/product/_index.scss */
.product-index .photo-product {
  max-width: 100px;
}
/* line 11, ../sass/product/_index.scss */
.product-index .ui-state-highlight {
  height: 75px;
  background-color: white;
}

/* line 6, ../sass/product/_form.scss */
.product-create #product-active label,
.product-update #product-active label {
  margin-right: 15px;
}
/* line 10, ../sass/product/_form.scss */
.product-create #days-production,
.product-update #days-production {
  margin-top: 30px;
}
/* line 13, ../sass/product/_form.scss */
.product-create #days-production h2,
.product-update #days-production h2 {
  font-size: 20px;
}
/* line 16, ../sass/product/_form.scss */
.product-create #days-production label,
.product-update #days-production label {
  font-weight: normal;
}

/** 
Copyright distrib (2018) 

contact@opendistrib.net

Ce logiciel est un programme informatique servant à aider les producteurs 
à distribuer leur production en circuits courts. 

Ce logiciel est régi par la licence CeCILL soumise au droit français et
respectant les principes de diffusion des logiciels libres. Vous pouvez
utiliser, modifier et/ou redistribuer ce programme sous les conditions
de la licence CeCILL telle que diffusée par le CEA, le CNRS et l'INRIA 
sur le site "http://www.cecill.info".

En contrepartie de l'accessibilité au code source et des droits de copie,
de modification et de redistribution accordés par cette licence, il n'est
offert aux utilisateurs qu'une garantie limitée.  Pour les mêmes raisons,
seule une responsabilité restreinte pèse sur l'auteur du programme,  le
titulaire des droits patrimoniaux et les concédants successifs.

A cet égard  l'attention de l'utilisateur est attirée sur les risques
associés au chargement,  à l'utilisation,  à la modification et/ou au
développement et à la reproduction du logiciel par l'utilisateur étant 
donné sa spécificité de logiciel libre, qui peut le rendre complexe à 
manipuler et qui le réserve donc à des développeurs et des professionnels
avertis possédant  des  connaissances  informatiques approfondies.  Les
utilisateurs sont donc invités à charger  et  tester  l'adéquation  du
logiciel à leurs besoins dans des conditions permettant d'assurer la
sécurité de leurs systèmes et ou de leurs données et, plus généralement, 
à l'utiliser et l'exploiter dans les mêmes conditions de sécurité. 

Le fait que vous puissiez accéder à cet en-tête signifie que vous avez 
pris connaissance de la licence CeCILL, et que vous en avez accepté les
termes.
*/
/* line 40, ../sass/distribution/_index.scss */
.distribution-index .content-header .date {
  font-weight: bold;
}
/* line 45, ../sass/distribution/_index.scss */
.distribution-index #wrapper-app-distribution-index {
  display: none;
}
/* line 48, ../sass/distribution/_index.scss */
.distribution-index #wrapper-app-distribution-index.loaded {
  display: block;
}
/* line 53, ../sass/distribution/_index.scss */
.distribution-index #app-distribution-index {
  position: relative;
}
/* line 57, ../sass/distribution/_index.scss */
.distribution-index #distribution-date {
  display: none;
}
/* line 61, ../sass/distribution/_index.scss */
.distribution-index #calendar {
  margin-bottom: 15px;
}
/* line 64, ../sass/distribution/_index.scss */
.distribution-index #calendar .c-header .c-title-layout .c-title-popover .c-title-anchor .c-title[data-v-2083cb72] {
  font-size: 2rem;
}
/* line 68, ../sass/distribution/_index.scss */
.distribution-index #calendar .c-day-background {
  padding: 16px;
}
/* line 76, ../sass/distribution/_index.scss */
.distribution-index #calendar .c-day-popover-content {
  font-size: 1.3rem;
}
/* line 80, ../sass/distribution/_index.scss */
.distribution-index #calendar .c-title {
  text-transform: uppercase;
  font-family: 'capsuularegular';
}
/* line 87, ../sass/distribution/_index.scss */
.distribution-index #products td.quantities {
  width: 100px;
  text-align: right;
}
/* line 92, ../sass/distribution/_index.scss */
.distribution-index #products input.quantity-max {
  width: 50px;
  text-align: center;
  display: inline;
}
/* line 100, ../sass/distribution/_index.scss */
.distribution-index #infos-top .col-md-4 {
  padding: 0px;
}
/* line 106, ../sass/distribution/_index.scss */
.distribution-index #infos-top .info-box {
  min-height: 96px;
  height: 96px;
}
/* line 110, ../sass/distribution/_index.scss */
.distribution-index #infos-top .info-box .info-box-icon {
  height: 96px;
  width: 50px;
  line-height: 96px;
}
/* line 115, ../sass/distribution/_index.scss */
.distribution-index #infos-top .info-box .info-box-icon i.fa {
  font-size: 30px;
}
/* line 120, ../sass/distribution/_index.scss */
.distribution-index #infos-top .info-box .info-box-content {
  margin-left: 55px;
}
/* line 123, ../sass/distribution/_index.scss */
.distribution-index #infos-top .info-box .info-box-content .info-box-text {
  font-size: 12px;
}
/* line 126, ../sass/distribution/_index.scss */
.distribution-index #infos-top .info-box .info-box-content .info-box-text .btn {
  font-size: 12px;
  text-transform: uppercase;
}
/* line 132, ../sass/distribution/_index.scss */
.distribution-index #infos-top .info-box .info-box-content .info-box-number {
  font-size: 14px;
}
/* line 139, ../sass/distribution/_index.scss */
.distribution-index #infos-top #info-box-distribution .btn-active-week {
  float: right;
}
/* line 145, ../sass/distribution/_index.scss */
.distribution-index #infos-top #summary-ca-weight .normal {
  font-weight: normal;
}
/* line 155, ../sass/distribution/_index.scss */
.distribution-index #modal-products table.table thead tr td {
  font-weight: bold;
}
/* line 161, ../sass/distribution/_index.scss */
.distribution-index #modal-products table.table td.quantity-ordered,
.distribution-index #modal-products table.table td.quantity-max {
  text-align: center;
}
/* line 166, ../sass/distribution/_index.scss */
.distribution-index #modal-products table.table td.quantity-ordered {
  width: 50px;
}
/* line 170, ../sass/distribution/_index.scss */
.distribution-index #modal-products table.table td.quantity-max {
  width: 120px;
}
/* line 173, ../sass/distribution/_index.scss */
.distribution-index #modal-products table.table td.quantity-max input {
  text-align: center;
}
/* line 180, ../sass/distribution/_index.scss */
.distribution-index #orders {
  position: relative;
}
/* line 185, ../sass/distribution/_index.scss */
.distribution-index #orders .panel-heading .buttons .btn {
  position: relative;
  top: -19px;
  float: right;
  margin-left: 10px;
}
/* line 194, ../sass/distribution/_index.scss */
.distribution-index #orders #wrapper-nav-points-sale {
  margin-bottom: 10px;
}
/* line 197, ../sass/distribution/_index.scss */
.distribution-index #orders #wrapper-nav-points-sale ul#nav-points-sale {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
/* line 202, ../sass/distribution/_index.scss */
.distribution-index #orders #wrapper-nav-points-sale ul#nav-points-sale li {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
/* line 208, ../sass/distribution/_index.scss */
.distribution-index #orders #wrapper-nav-points-sale ul#nav-points-sale li a .label {
  background-color: white;
  border: solid 1px #e0e0e0;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* line 219, ../sass/distribution/_index.scss */
.distribution-index #orders #buttons-top-orders {
  background-color: #F5F5F5;
  padding: 10px 20px;
  border: solid 1px #e0e0e0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
}
/* line 230, ../sass/distribution/_index.scss */
.distribution-index #orders #buttons-top-orders .right {
  float: right;
}
/* line 234, ../sass/distribution/_index.scss */
.distribution-index #orders #buttons-top-orders .dropdown {
  display: inline-block;
}
/* line 241, ../sass/distribution/_index.scss */
.distribution-index #orders table td.tiller {
  width: 60px;
}
/* line 244, ../sass/distribution/_index.scss */
.distribution-index #orders table td.tiller label {
  font-size: 12px;
  cursor: pointer;
  position: relative;
  top: -2px;
  font-weight: normal;
}
/* line 253, ../sass/distribution/_index.scss */
.distribution-index #orders table td.column-actions {
  position: relative;
  text-align: right;
}
/* line 257, ../sass/distribution/_index.scss */
.distribution-index #orders table td.column-actions .dropdown-menu {
  top: 0px;
  right: 0px;
}
/* line 262, ../sass/distribution/_index.scss */
.distribution-index #orders table td.column-actions .modal-form-order,
.distribution-index #orders table td.column-actions .modal-payment {
  text-align: left;
}
/* line 267, ../sass/distribution/_index.scss */
.distribution-index #orders table td.column-actions .add-subscription {
  position: relative;
}
/* line 270, ../sass/distribution/_index.scss */
.distribution-index #orders table td.column-actions .add-subscription .glyphicon-plus {
  position: absolute;
  top: 4px;
  right: 4px;
  font-size: 7px;
}
/* line 279, ../sass/distribution/_index.scss */
.distribution-index #orders table td.column-state-payment {
  width: 120px;
}
/* line 284, ../sass/distribution/_index.scss */
.distribution-index #orders table td.column-payment div.btn-group {
  width: 125px;
}
/* line 290, ../sass/distribution/_index.scss */
.distribution-index #orders table tr.view ul {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 15px;
}
/* line 300, ../sass/distribution/_index.scss */
.distribution-index #orders table tr.view .comment {
  margin-top: 20px;
}
/* line 304, ../sass/distribution/_index.scss */
.distribution-index #orders table tr.view .delivery {
  margin-top: 20px;
}
/* line 313, ../sass/distribution/_index.scss */
.distribution-index .modal-form-order .modal-container {
  width: 100%;
  padding: 0px;
}
/* line 317, ../sass/distribution/_index.scss */
.distribution-index .modal-form-order .modal-container .modal-body {
  padding-right: 15px;
}
/* line 319, ../sass/distribution/_index.scss */
.distribution-index .modal-form-order .modal-container .modal-body table {
  margin-bottom: 150px;
}
/* line 324, ../sass/distribution/_index.scss */
.distribution-index .modal-form-order .modal-container .modal-footer {
  border-top-color: #f4f4f4;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 99999;
  background-color: white;
  width: 100%;
  text-align: center;
  border-top: solid 1px #e0e0e0;
}
/* line 336, ../sass/distribution/_index.scss */
.distribution-index .modal-form-order .modal-container .modal-footer .actions-form button {
  float: none;
}
/* line 343, ../sass/distribution/_index.scss */
.distribution-index .modal-form-order .btn-credit {
  float: right;
}
/* line 349, ../sass/distribution/_index.scss */
.distribution-index .modal-form-order table.table-products .product-ordered td {
  background-color: #e9e9e9;
}
/* line 353, ../sass/distribution/_index.scss */
.distribution-index .modal-form-order table.table-products .product-ordered input {
  font-size: 16px;
  font-weight: bold;
}
/* line 359, ../sass/distribution/_index.scss */
.distribution-index .modal-form-order table.table-products td.price {
  width: 150px;
}
/* line 361, ../sass/distribution/_index.scss */
.distribution-index .modal-form-order table.table-products td.price input {
  text-align: center;
}
/* line 366, ../sass/distribution/_index.scss */
.distribution-index .modal-form-order table.table-products td.quantity {
  width: 165px;
}
/* line 369, ../sass/distribution/_index.scss */
.distribution-index .modal-form-order table.table-products td.quantity input {
  text-align: center;
  color: black;
}
/* line 374, ../sass/distribution/_index.scss */
.distribution-index .modal-form-order table.table-products td.quantity .form-control {
  border-right: 0px none;
  padding-right: 4px;
}
/* line 379, ../sass/distribution/_index.scss */
.distribution-index .modal-form-order table.table-products td.quantity .input-group-addon {
  padding: 5px;
  padding-left: 0px;
  margin: 0px;
  border-left: 0px none;
  border-right: 0px none;
}
/* line 388, ../sass/distribution/_index.scss */
.distribution-index .modal-form-order table.table-products td.quantity-remaining {
  text-align: right;
}
/* line 391, ../sass/distribution/_index.scss */
.distribution-index .modal-form-order table.table-products td.quantity-remaining.quantity-remaining, .distribution-index .modal-form-order table.table-products td.quantity-remaining.infinite {
  color: #00A65A;
}
/* line 395, ../sass/distribution/_index.scss */
.distribution-index .modal-form-order table.table-products td.quantity-remaining.negative {
  color: #DD4B39;
}
/* line 399, ../sass/distribution/_index.scss */
.distribution-index .modal-form-order table.table-products td.quantity-remaining.infinite, .distribution-index .modal-form-order table.table-products td.quantity-remaining.empty {
  font-size: 18px;
}
/* line 406, ../sass/distribution/_index.scss */
.distribution-index .modal-form-order .actions-form button {
  margin-left: 15px;
}
/* line 414, ../sass/distribution/_index.scss */
.distribution-index .modal-payment .info-box .info-box-icon {
  width: 50px;
}
/* line 417, ../sass/distribution/_index.scss */
.distribution-index .modal-payment .info-box .info-box-icon i {
  font-size: 30px;
}
/* line 422, ../sass/distribution/_index.scss */
.distribution-index .modal-payment .info-box .info-box-content {
  margin-left: 50px;
}

/* line 3, ../sass/user/_emails.scss */
.user-mail #tabs-points-sale {
  margin-bottom: 20px;
}

/* line 5, ../sass/user/_credit.scss */
.user-credit .panel .panel-heading .btn {
  float: right;
}

/* line 6, ../sass/user/_form.scss */
.user-create #user-points_sale label,
.user-create #user-user_groups label,
.user-update #user-points_sale label,
.user-update #user-user_groups label {
  font-weight: normal;
  margin-right: 10px;
  cursor: pointer;
  background-color: white;
  padding: 5px 10px;
  border: solid 1px #e0e0e0;
}
/* line 14, ../sass/user/_form.scss */
.user-create #user-points_sale label .form-control,
.user-create #user-user_groups label .form-control,
.user-update #user-points_sale label .form-control,
.user-update #user-user_groups label .form-control {
  display: inline;
  width: 200px;
  margin-left: 15px;
}

/* line 4, ../sass/point_sale/_index.scss */
.point-sale-index table .td-default {
  text-align: center;
}

/** 
Copyright distrib (2018) 

contact@opendistrib.net

Ce logiciel est un programme informatique servant à aider les producteurs 
à distribuer leur production en circuits courts. 

Ce logiciel est régi par la licence CeCILL soumise au droit français et
respectant les principes de diffusion des logiciels libres. Vous pouvez
utiliser, modifier et/ou redistribuer ce programme sous les conditions
de la licence CeCILL telle que diffusée par le CEA, le CNRS et l'INRIA 
sur le site "http://www.cecill.info".

En contrepartie de l'accessibilité au code source et des droits de copie,
de modification et de redistribution accordés par cette licence, il n'est
offert aux utilisateurs qu'une garantie limitée.  Pour les mêmes raisons,
seule une responsabilité restreinte pèse sur l'auteur du programme,  le
titulaire des droits patrimoniaux et les concédants successifs.

A cet égard  l'attention de l'utilisateur est attirée sur les risques
associés au chargement,  à l'utilisation,  à la modification et/ou au
développement et à la reproduction du logiciel par l'utilisateur étant 
donné sa spécificité de logiciel libre, qui peut le rendre complexe à 
manipuler et qui le réserve donc à des développeurs et des professionnels
avertis possédant  des  connaissances  informatiques approfondies.  Les
utilisateurs sont donc invités à charger  et  tester  l'adéquation  du
logiciel à leurs besoins dans des conditions permettant d'assurer la
sécurité de leurs systèmes et ou de leurs données et, plus généralement, 
à l'utiliser et l'exploiter dans les mêmes conditions de sécurité. 

Le fait que vous puissiez accéder à cet en-tête signifie que vous avez 
pris connaissance de la licence CeCILL, et que vous en avez accepté les
termes.
*/
/* line 39, ../sass/report/_index.scss */
.report-index #wrapper-app-report-index {
  display: none;
}
/* line 41, ../sass/report/_index.scss */
.report-index #wrapper-app-report-index.loaded {
  display: block;
}
/* line 48, ../sass/report/_index.scss */
.report-index #parameters #nav-sections-report .btn-section {
  margin-right: 5px;
}
/* line 53, ../sass/report/_index.scss */
.report-index #parameters .section {
  margin-top: 10px;
}
/* line 55, ../sass/report/_index.scss */
.report-index #parameters .section .content-max-height {
  max-height: 400px;
  overflow-y: scroll;
}
/* line 59, ../sass/report/_index.scss */
.report-index #parameters .section .content-max-height ul {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 5px;
}
/* line 65, ../sass/report/_index.scss */
.report-index #parameters .section .content-max-height ul li input {
  position: relative;
  top: 2px;
}
/* line 69, ../sass/report/_index.scss */
.report-index #parameters .section .content-max-height ul li label {
  font-weight: normal;
  margin-bottom: 0px;
}
/* line 78, ../sass/report/_index.scss */
.report-index #parameters #section-users #wrapper-search-user {
  margin-bottom: 10px;
  position: relative;
}
/* line 81, ../sass/report/_index.scss */
.report-index #parameters #section-users #wrapper-search-user .glyphicon-search {
  position: absolute;
  top: 10px;
  right: 16px;
  color: gray;
}
/* line 93, ../sass/report/_index.scss */
.report-index #parameters #section-distributions #wrapper-select-year {
  margin-bottom: 10px;
}
/* line 97, ../sass/report/_index.scss */
.report-index #parameters #section-distributions .distribution-month {
  margin-bottom: 10px;
}
/* line 99, ../sass/report/_index.scss */
.report-index #parameters #section-distributions .distribution-month .link-month-distribution {
  display: block;
  text-transform: capitalize;
  text-align: left;
}
/* line 104, ../sass/report/_index.scss */
.report-index #parameters #section-distributions .distribution-month .link-month-distribution .glyphicon {
  float: right;
}
/* line 109, ../sass/report/_index.scss */
.report-index #parameters #section-distributions .distribution-month .the-distributions {
  margin-top: 8px;
}
/* line 121, ../sass/report/_index.scss */
.report-index #report .section {
  margin-bottom: 15px;
}
/* line 124, ../sass/report/_index.scss */
.report-index #report .section h3 {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  text-transform: uppercase;
}
/* line 130, ../sass/report/_index.scss */
.report-index #report .section .comma:last-child {
  display: none;
}

/* line 4, ../sass/document/_form.scss */
.document-form .info-box .info-box-text {
  font-size: 13px;
}
/* line 7, ../sass/document/_form.scss */
.document-form .info-box .info-box-number {
  font-size: 15px;
}
/* line 12, ../sass/document/_form.scss */
.document-form #block-add-product .input-price {
  text-align: center;
}
/* line 16, ../sass/document/_form.scss */
.document-form #block-add-product .input-group-quantity .input-quantity {
  text-align: center;
}
/* line 22, ../sass/document/_form.scss */
.document-form #block-add-product .total .input-group {
  margin-bottom: 10px;
}
/* line 25, ../sass/document/_form.scss */
.document-form #block-add-product .total .btn {
  float: right;
}
/* line 32, ../sass/document/_form.scss */
.document-form #block-list-products ul.product-order-meta {
  padding: 0px;
  margin: 0px;
  padding-left: 20px;
}
/* line 37, ../sass/document/_form.scss */
.document-form #block-list-products ul.product-order-meta li {
  color: gray;
  font-size: 11px;
}

/* line 7, ../sass/document/_index.scss */
.quotation-index .content-wrapper .content table.table .column-actions,
.delivery-note-index .content-wrapper .content table.table .column-actions,
.invoice-index .content-wrapper .content table.table .column-actions {
  width: 200px;
}

/**
Copyright distrib (2018)

contact@opendistrib.net

Ce logiciel est un programme informatique servant à aider les producteurs
à distribuer leur production en circuits courts.

Ce logiciel est régi par la licence CeCILL soumise au droit français et
respectant les principes de diffusion des logiciels libres. Vous pouvez
utiliser, modifier et/ou redistribuer ce programme sous les conditions
de la licence CeCILL telle que diffusée par le CEA, le CNRS et l'INRIA
sur le site "http://www.cecill.info".

En contrepartie de l'accessibilité au code source et des droits de copie,
de modification et de redistribution accordés par cette licence, il n'est
offert aux utilisateurs qu'une garantie limitée.  Pour les mêmes raisons,
seule une responsabilité restreinte pèse sur l'auteur du programme,  le
titulaire des droits patrimoniaux et les concédants successifs.

A cet égard  l'attention de l'utilisateur est attirée sur les risques
associés au chargement,  à l'utilisation,  à la modification et/ou au
développement et à la reproduction du logiciel par l'utilisateur étant
donné sa spécificité de logiciel libre, qui peut le rendre complexe à
manipuler et qui le réserve donc à des développeurs et des professionnels
avertis possédant  des  connaissances  informatiques approfondies.  Les
utilisateurs sont donc invités à charger  et  tester  l'adéquation  du
logiciel à leurs besoins dans des conditions permettant d'assurer la
sécurité de leurs systèmes et ou de leurs données et, plus généralement,
à l'utiliser et l'exploiter dans les mêmes conditions de sécurité.

Le fait que vous puissiez accéder à cet en-tête signifie que vous avez
pris connaissance de la licence CeCILL, et que vous en avez accepté les
termes.
*/
@media screen and (max-width: 768px) {
  /* line 41, ../sass/_responsive.scss */
  .main-header .navbar {
    border-top: solid 1px #e0e0e0;
    border-bottom: solid 1px #e0e0e0;
  }

  /* line 49, ../sass/_responsive.scss */
  .navbar-custom-menu .producer-menu span {
    display: none;
  }

  /* line 62, ../sass/_responsive.scss */
  .distribution-index .modal-form-order .modal-container .modal-body table.table-products td.quantity .form-control {
    width: 50px;
    height: 52px;
  }
  /* line 67, ../sass/_responsive.scss */
  .distribution-index .modal-form-order .modal-container .modal-body table.table-products td.price {
    display: none;
  }
  /* line 79, ../sass/_responsive.scss */
  .distribution-index #orders #buttons-top-orders .left {
    width: 100%;
    float: none;
  }
  /* line 83, ../sass/_responsive.scss */
  .distribution-index #orders #buttons-top-orders .right {
    width: 100%;
    float: none;
  }
  /* line 88, ../sass/_responsive.scss */
  .distribution-index #orders #buttons-top-orders .btn {
    padding: 8px 15px;
    margin: 10px;
    display: block;
    width: 100%;
  }
  /* line 98, ../sass/_responsive.scss */
  .distribution-index #orders #wrapper-nav-points-sale ul#nav-points-sale li {
    float: none;
    width: 100%;
  }
  /* line 101, ../sass/_responsive.scss */
  .distribution-index #orders #wrapper-nav-points-sale ul#nav-points-sale li a {
    display: block;
  }
  /* line 110, ../sass/_responsive.scss */
  .distribution-index #orders table ul.dropdown-menu a {
    padding: 15px;
  }
  /* line 114, ../sass/_responsive.scss */
  .distribution-index #orders table button {
    padding: 15px;
  }
  /* line 119, ../sass/_responsive.scss */
  .distribution-index #orders table .column-origin,
  .distribution-index #orders table .column-point-sale,
  .distribution-index #orders table .column-state-payment,
  .distribution-index #orders table .column-payment,
  .distribution-index #orders table .column-tiller,
  .distribution-index #orders table .column-delivery-note {
    display: none;
  }
}
