
.document-form {
        .info-box {
                .info-box-text {
                        font-size: 13px ;
                }
                .info-box-number {
                        font-size: 15px ;
                }
        }
        #block-add-product {
                .input-price {
                        text-align: center ;
                }
                .input-group-quantity {
                        .input-quantity {
                                text-align: center ;
                        }
                }

                .total {
                        .input-group {
                                margin-bottom: 10px ;
                        }
                        .btn {
                                float: right ;
                        }
                }
        }

        #block-list-products {
                ul.product-order-meta {
                        padding: 0px ;
                        margin: 0px ;
                        padding-left: 20px ;

                        li {
                                color: gray ;
                                font-size: 11px ;
                        }
                }
        }
}