
.quotation-index,
.delivery-note-index,
.invoice-index {
        .content-wrapper .content {
                table.table {
                        .column-actions {
                                width: 200px;
                        }
                }
        }
}