
.user-create, 
.user-update {
    #user-points_sale,
    #user-user_groups {
        label {
            font-weight: normal ;
            margin-right: 10px ;
            cursor: pointer ;
            background-color: white ;
            padding: 5px 10px ;
            border: solid 1px #e0e0e0 ;
            
            .form-control {
                display: inline ;
                width: 200px; 
                margin-left: 15px ;
            }
        } 
    }
}
